<%- include('./includes/header') %>
    <link rel="stylesheet" href="/css/evo-collections.css">
    <%- include('./includes/nav') %>
        <div class="evo-blog-header" style="background-image: url('<%= dataPage[0].imgTitle %>')">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="evo-blog-header-content">
                            <h1>
                                <%= pageTitle %>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="page">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-page rte">
                            <section>
                                <h1 style="text-align: center;">KiBo - MORE INSPIRATIONAL!</h1>
                                <p style="text-align: center;">/ki - bo/!</p>
                                <p style="text-align: center;">Chúng tôi ra đời với&nbsp;sứ mệnh mang đến không gian làm
                                    việc độc đáo và sáng tạo cho mọi người.</p>
                                <p style="text-align: center;">&nbsp;<img data-thumb="medium" original-height="1280"
                                        original-width="1280"
                                        src="//bizweb.dktcdn.net/thumb/medium/100/436/596/files/z2645819303628-d961c9e7739b7d89cc51db88ad9e94f6-cef7b3e6-2e49-4f7c-a53e-d0d933c58ec6.jpg?v=1631202888004">&nbsp;
                                    &nbsp; &nbsp;<img data-thumb="grande" original-height="640" original-width="640"
                                        src="//bizweb.dktcdn.net/thumb/grande/100/436/596/files/158795710-525043295127859-5240130807423059829-n.jpg?v=1631204621672">
                                </p>
                            </section>
                            <section>
                                <p>CẢM HỨNG HƠN?</p>
                                <p>Đó luôn là mục tiêc chúng tôi hướng đến.</p>
                                <p>Và cũng là tinh thần "More inspirational" chúng tôi khát khao truyền tải.</p>
                                <p>Với những sản phẩm được lựa chọn một cách tỉ mỉ và cẩn thận trong khâu đánh giá chất
                                    lượng. Chắc chắn, điều này sẽ giúp các bạn có một trải nghiệm hoàn hảo&nbsp;khi sử
                                    dụng sản phẩm của chúng tôi. Chúc các bạn luôn vui vẻ, sáng tạo và tràn đầy năng
                                    lượng mỗi khi bắt đầu làm việc. Thanks!</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./includes/footer') %>