<%- include('../includes/header') %>
    <link rel="stylesheet" href="/css/evo-collections.css">
    <%- include('../includes/nav') %>
        <div class="evo-blog-header" style="background-image: url('<%= dataPage[0].imgTitle %>')">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="evo-blog-header-content">
                            <h1>
                                <%= pageTitle %>
                            </h1>
                            <div class="evo-blog-des">
                                <p id="contentTitle">
                                    <%= dataPage[0].contentTitle %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <section class="main_container collection col-md-9 col-md-push-3">
                    <div class="category-products products category-products-grids">
                        <div class="sort-cate clearfix margin-bottom-10 hidden-xs">
                            <div class="sort-cate-left hidden-xs">
                                <h3>Xếp theo:</h3>
                                <ul>
                                    <li class="btn-quick-sort alpha-asc">
                                        <input type="radio" onclick="sortby('name-asc');" title="Tên A-Z" name="sort">
                                        Tên A-Z
                                    </li>
                                    <li class="btn-quick-sort alpha-desc">
                                        <input type="radio" onclick="sortby('name-desc');" title="Tên Z-A" name="sort">
                                        Tên Z-A
                                    </li>
                                    <li class="btn-quick-sort price-asc">
                                        <input type="radio" onclick="sortby('price-asc');" title="Giá thấp đến cao" name="sort">
                                        Giá thấp đến cao
                                    </li>
                                    <li class="btn-quick-sort price-desc">
                                        <input type="radio" onclick="sortby('price-desc');" title="Giá cao xuống thấp" name="sort">
                                        Giá cao xuống thấp
                                    </li>
                                </ul>
                            </div>
                        </div>